@import '_vars';

body { font-family: proxima-nova, sans-serif; font-style: normal; margin: 0;}

#app {
    // max-width: 1280px;
    margin: 0 auto;
}


//Header
header {
    display: flex;
    justify-content: center;
    background-color: $theme_blue;
    align-items: center;
    height: 60px;
    position: relative;
}

// Header Secion
.mainLogo img { width: 100px; } 
.adminIcon { position: absolute; margin-left: 42%; }
.adminIcon img { width: 40px; }


//Menu
.menu {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: $bg-gray;
    padding: 10px 15px;
}

.menu p {font-size: 17px; font-weight: 500;}
.menu p:hover {color: $theme_orange;}

.menubtn {
    color: white;
    background-color: $theme_orange;
    font-size: 20px;
    border-radius: 40px;
    border: none;
    padding: 5px 12px;
}


// Promo Banner
.promoBan {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
    background: linear-gradient(#F2CE1B,#BF1784,#2F048C);
}

.poster {margin-left: 30px; border: white 5px solid; }
.poster img { width: 124px }
.promoinfo { margin-left: 20px; }
.promoinfo h2 { font-size: 20px; font-weight: bold; margin: 0 0 20px 0; color: white; }
.promoinfo p { font-size: 10px; padding-top: 10px; margin: 0; color: white; }


//play page
.row {background-color: $theme_blue;}
.media-title {color: $theme_orange; font-size: 25px; text-align: center; margin: 0;}
.media-details {color: white; font-size: 18px; margin: 20px 0; line-height: 1.4em;}

.col-md-9 {text-align: center;}
.col-12 span {color: white; font-size: 16px; margin-right: 30px;}
.col-md-3 {padding: 20px;}

.fs-audio {width: 80%; margin-top: 30px;}
.fs-video {width:100%;}

@media screen and (min-width:768px){
    .media-title {font-size: 35px;}
    .media-details {font-size: 22px; margin: 30px 0;}
    .col-md-3 {padding: 35px;}
    .col-12 span {font-size: 19px;}
}

@media screen and (min-width:1028px){
    .media-title {font-size: 42px;}
    .media-details {font-size: 27px; margin: 30px 0; line-height: 1.6em;}
    .col-md-3 {padding: 50px;}
    .col-12 span {font-size: 19px;}
}


//movies decades
.movie90 {
    max-width: 100%;
    display: flex;
    flex-direction: row;
}


//Footer
.mainFooter {text-align: center; background-color: $theme_blue; padding: 20px 0;}

.footerLogo img {width: 100px;}
.socialicons {margin: 15px 0;}
.socialicons img {width: 30px; filter: invert(1); margin: 0 10px;}
.mainFooter p {margin: 0; color: white;}
